In [114]:
import pandas as pd

In [115]:
df = pd.read_csv("data/20130606_sample_info.csv",index_col=0,thousands=',')

In [116]:
df.shape

(3502, 18)

In [117]:
df.isnull().sum()

Unnamed: 1         1
Low Coverage     813
Unnamed: 3       813
Unnamed: 4       813
Unnamed: 5       943
Unnamed: 6       943
Exome            821
Unnamed: 8       821
Unnamed: 9       821
Unnamed: 10      950
Unnamed: 11      950
Unnamed: 12      966
Unnamed: 13     3502
Unnamed: 14     3502
Unnamed: 15     3502
Unnamed: 16     3502
Unnamed: 17     3502
Unnamed: 18     3502
dtype: int64

In [118]:
df.head()

,Unnamed: 1,Low Coverage,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Exome,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
Sample,Population,Center,Platform,Total Sequence,Aligned Non Duplicated Coverage,Passed QC,Center,Platform,Total Sequence,% Targets Covered to 20x or greater,Passed QC,In Final Phase Variant Calling,NaN,NaN,NaN,NaN,NaN,NaN
HG00096,GBR,WUGSC,ILLUMINA,"14,714,705,600",4.94,1,WUGSC,ILLUMINA,"9,580,861,000",0.85,1,1,NaN,NaN,NaN,NaN,NaN,NaN
HG00097,GBR,BCM,ILLUMINA,"30,285,067,857",10.26,1,BCM,ILLUMINA,"5,856,213,714",0.91,1,1,NaN,NaN,NaN,NaN,NaN,NaN
HG00098,GBR,SC,ILLUMINA,"16,332,517,200",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HG00099,GBR,BCM,ILLUMINA,"25,134,554,475",8.65,1,BCM,ILLUMINA,"8,125,011,458",0.89,1,1,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
df.drop(columns=[f"Unnamed: {x}" for x in range(13,19)],inplace=True)

In [120]:
df.head()

,Unnamed: 1,Low Coverage,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Exome,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
Sample,Population,Center,Platform,Total Sequence,Aligned Non Duplicated Coverage,Passed QC,Center,Platform,Total Sequence,% Targets Covered to 20x or greater,Passed QC,In Final Phase Variant Calling
HG00096,GBR,WUGSC,ILLUMINA,"14,714,705,600",4.94,1,WUGSC,ILLUMINA,"9,580,861,000",0.85,1,1
HG00097,GBR,BCM,ILLUMINA,"30,285,067,857",10.26,1,BCM,ILLUMINA,"5,856,213,714",0.91,1,1
HG00098,GBR,SC,ILLUMINA,"16,332,517,200",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HG00099,GBR,BCM,ILLUMINA,"25,134,554,475",8.65,1,BCM,ILLUMINA,"8,125,011,458",0.89,1,1

In [121]:
row1 = df.iloc[[0]]

In [122]:
df.columns = row1.to_numpy().flatten()

In [ ]:
df.head()

,Population,Center,Platform,Total Sequence,Aligned Non Duplicated Coverage,Passed QC,Center,Platform,Total Sequence,% Targets Covered to 20x or greater,Passed QC,In Final Phase Variant Calling
Sample,Population,Center,Platform,Total Sequence,Aligned Non Duplicated Coverage,Passed QC,Center,Platform,Total Sequence,% Targets Covered to 20x or greater,Passed QC,In Final Phase Variant Calling
HG00096,GBR,WUGSC,ILLUMINA,"14,714,705,600",4.94,1,WUGSC,ILLUMINA,"9,580,861,000",0.85,1,1
HG00097,GBR,BCM,ILLUMINA,"30,285,067,857",10.26,1,BCM,ILLUMINA,"5,856,213,714",0.91,1,1
HG00098,GBR,SC,ILLUMINA,"16,332,517,200",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HG00099,GBR,BCM,ILLUMINA,"25,134,554,475",8.65,1,BCM,ILLUMINA,"8,125,011,458",0.89,1,1

In [124]:
df.drop(df.index[0], inplace=True)

In [125]:
df.dropna(inplace=True)

In [126]:
df.head()

,Population,Center,Platform,Total Sequence,Aligned Non Duplicated Coverage,Passed QC,Center,Platform,Total Sequence,% Targets Covered to 20x or greater,Passed QC,In Final Phase Variant Calling
HG00096,GBR,WUGSC,ILLUMINA,"14,714,705,600",4.94,1,WUGSC,ILLUMINA,"9,580,861,000",0.85,1,1
HG00097,GBR,BCM,ILLUMINA,"30,285,067,857",10.26,1,BCM,ILLUMINA,"5,856,213,714",0.91,1,1
HG00099,GBR,BCM,ILLUMINA,"25,134,554,475",8.65,1,BCM,ILLUMINA,"8,125,011,458",0.89,1,1
HG00100,GBR,SC,ILLUMINA,"42,906,753,668",14.24,1,BI,ILLUMINA,"15,144,863,140",0.88,1,1
HG00101,GBR,MPIMG,ILLUMINA,"22,115,533,074",7.55,1,WUGSC,ILLUMINA,"11,754,108,800",0.88,1,1

In [127]:
df.shape

(2535, 12)

In [128]:
df.columns= list(df.columns[:6])+[ f"step2_{x}" for x in df.columns[6:]]

In [129]:
df.head()

,Population,Center,Platform,Total Sequence,Aligned Non Duplicated Coverage,Passed QC,step2_Center,step2_Platform,step2_Total Sequence,step2_% Targets Covered to 20x or greater,step2_Passed QC,step2_In Final Phase Variant Calling
HG00096,GBR,WUGSC,ILLUMINA,"14,714,705,600",4.94,1,WUGSC,ILLUMINA,"9,580,861,000",0.85,1,1
HG00097,GBR,BCM,ILLUMINA,"30,285,067,857",10.26,1,BCM,ILLUMINA,"5,856,213,714",0.91,1,1
HG00099,GBR,BCM,ILLUMINA,"25,134,554,475",8.65,1,BCM,ILLUMINA,"8,125,011,458",0.89,1,1
HG00100,GBR,SC,ILLUMINA,"42,906,753,668",14.24,1,BI,ILLUMINA,"15,144,863,140",0.88,1,1
HG00101,GBR,MPIMG,ILLUMINA,"22,115,533,074",7.55,1,WUGSC,ILLUMINA,"11,754,108,800",0.88,1,1